target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
db.properties
logging-db.properties
### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
# Test data ignore
/src/main/java/com/osman/Test Files/
/src/test/resources/ordertestfiles/**
!/src/test/resources/ordertestfiles/
!/src/test/resources/ordertestfiles/sample-amazon-orders.txt
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Build/runtime artifacts
out/
dependency-reduced-pom.xml
